@font-face {
	font-family: 'proximanova-light';
	src: url('fonts/proximanova-light.eot');
	src: local('☺'), url('fonts/proximanova-light.woff') format('woff'), url('fonts/proximanova-light.ttf') format('truetype'), url('fonts/proximanova-light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'proximanova-regular';
	src: url('fonts/proximanova-regular.eot');
	src: local('☺'), url('fonts/proximanova-regular.woff') format('woff'), url('fonts/proximanova-regular.ttf') format('truetype'), url('fonts/proximanova-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'proximanova-semibold';
	src: url('fonts/proximanova-semibold.eot');
	src: local('☺'), url('fonts/proximanova-semibold.woff') format('woff'), url('fonts/proximanova-semibold.ttf') format('truetype'), url('fonts/proximanova-semibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'proximanova-bold';
	src: url('fonts/proximanova-bold.eot');
	src: local('☺'), url('fonts/proximanova-bold.woff') format('woff'), url('fonts/proximanova-bold.ttf') format('truetype'), url('fonts/proximanova-bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}